@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(161, 161, 167);
  background: linear-gradient(
    90deg,
    rgba(161, 161, 167, 1) 20%,
    rgba(43, 153, 150, 1) 65%,
    rgba(8, 135, 241, 1) 100%,
    rgba(80, 125, 114, 1) 100%
  );
}

.title {
  font-family: "SEGA LOGO FONT";
  color: #000505d9;
  letter-spacing: 4px;
  font-size: 3em;
}
